node-red/flows.json
[{"id":"8b7831c3eb62527d","type":"tab","label":"HVAC","disabled":false,"info":"","env":[]},{"id":"035579155973b66e","type":"tab","label":"Prusheen","disabled":false,"info":"","env":[]},{"id":"7777154dcb54cb50","type":"tab","label":"Lights","disabled":false,"info":"","env":[]},{"id":"0f8b68891c5c4c5d","type":"tab","label":"Shades","disabled":false,"info":"","env":[]},{"id":"55dc78b387503a74","type":"tab","label":"ESPHome Device Update","disabled":false,"info":"","env":[]},{"id":"d7663966eefb8c1d","type":"group","z":"8b7831c3eb62527d","name":"Ventilation Heat Exchanger","style":{"label":true,"fill":"#ffffff","label-position":"n","color":"#000000"},"nodes":["c19fa3e92e1cd8fc","8ee7c96e74492991","7b0a4dc2a6c88ccc","4d95ca2bef0c2ac1","ceb6d5baf9549729","0ced7290f9713729","997ee45379e895c4","a20a4a5e77da68d9","af30dedd21366184","25af2d3a123cd657"],"x":14,"y":639,"w":1382,"h":222},{"id":"0fc39fcc86af5697","type":"group","z":"8b7831c3eb62527d","name":"Turn off heating/cooling when windows open","style":{"fill":"#ffffff","label":true,"label-position":"n","color":"#000000"},"nodes":["21c64f01b14294b1","1def5c616075d576","8b4898dd6e82af43","c0049a121a47fbd1","7e7188b3f2c2eea1","26eb16a81d8235be","066c439fb184de3f","a6e8da122e992431","1b70fe5a0b076370","6751edff5eae0bf6","935dab5629c6466c","817a6c3a0f902586"],"x":4,"y":899,"w":1192,"h":322},{"id":"81155524a7de6128","type":"group","z":"8b7831c3eb62527d","name":"Ventilation Power","style":{"fill":"#ffffff","label":true,"color":"#000000","label-position":"n"},"nodes":["6aa5596dfb706265","cdc9ea0e90dc11a8","eed591ab9414a378","3c264037e4473f58","86314f96c5319685","17d8c62e08153837","2704f3640d7e924d","7431cf5fbff8cbdd","b81e0e1b561ef2e7","566287c1de2475f3","98db50c5e4549d51","88ce754e28b69d27","7551919880e1a977","6b1fa375046d18d1","6da5f983fab0b397"],"x":4,"y":39,"w":1412,"h":542},{"id":"1fe6af68f9e9f336","type":"group","z":"8b7831c3eb62527d","name":"Upstairs temperature","style":{"fill":"#ffffff","label":true,"label-position":"n","color":"#000000"},"nodes":["6879db2e73e6d588","65c947f030222428","9ce49c0b76ac30aa","294639170c41d87b","76be5f6d33288529","24b48d5c639f4e26","9f894dab1ff49c74","eecba87e709ad608","79e7f2adcae324cd","0b9cb56c873a3033","c0123bfd9ccc08a2","c8bca68bb6169227","7882dd6f8374b249","19e57f8a62c293f0"],"x":14,"y":1279,"w":1632,"h":242},{"id":"6da5f983fab0b397","type":"junction","z":"8b7831c3eb62527d","g":"81155524a7de6128","x":380,"y":340,"wires":[["86314f96c5319685"]]},{"id":"817a6c3a0f902586","type":"junction","z":"8b7831c3eb62527d","g":"0fc39fcc86af5697","x":360,"y":1060,"wires":[["6751edff5eae0bf6"]]},{"id":"c0123bfd9ccc08a2","type":"junction","z":"8b7831c3eb62527d","g":"1fe6af68f9e9f336","x":320,"y":1440,"wires":[["79e7f2adcae324cd"]]},{"id":"c8bca68bb6169227","type":"junction","z":"8b7831c3eb62527d","g":"1fe6af68f9e9f336","x":1100,"y":1380,"wires":[["294639170c41d87b","19e57f8a62c293f0"]]},{"id":"7882dd6f8374b249","type":"junction","z":"8b7831c3eb62527d","g":"1fe6af68f9e9f336","x":900,"y":1380,"wires":[["24b48d5c639f4e26"]]},{"id":"943d5cb3.74746","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"12dd9db725b8e52b","type":"ha-entity-config","server":"943d5cb3.74746","deviceConfig":"","name":"sensor config for Set ventilation power reason","version":6,"entityType":"sensor","haConfig":[{"property":"name","value":"Ventilation power reason"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:information"},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"resend":true},{"id":"16893d3a18b3be19","type":"ha-entity-config","server":"943d5cb3.74746","deviceConfig":"","name":"sensor config for Set reason","version":6,"entityType":"sensor","haConfig":[{"property":"name","value":"Ventilation heat exchanger reason"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"resend":true},{"id":"2ea56d92486994f5","type":"ha-entity-config","server":"943d5cb3.74746","deviceConfig":"6c956f3bc6037c6f","name":"Update all ESPHome devices","version":"6","entityType":"button","haConfig":[{"property":"name","value":"Update all ESPHome devices"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"affc541ab5c08242","type":"ha-entity-config","server":"943d5cb3.74746","deviceConfig":"6c956f3bc6037c6f","name":"ESPHome device updates available","version":"6","entityType":"binary_sensor","haConfig":[{"property":"name","value":"ESPHome device updates available"},{"property":"icon","value":"mdi:update"},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"6c956f3bc6037c6f","type":"ha-device-config","name":"ESPHome Device Mass Updater","hwVersion":"","manufacturer":"Node-RED","model":"","swVersion":""},{"id":"6aa5596dfb706265","type":"server-state-changed","z":"8b7831c3eb62527d","g":"81155524a7de6128","name":"Bathroom ventilation switches","server":"943d5cb3.74746","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.bathroom_ventilation_switch","entityidfiltertype":"exact","outputinitially":true,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"ventilationSwitch","valueType":"str"}],"x":240,"y":320,"wires":[["6da5f983fab0b397","eed591ab9414a378"],["6da5f983fab0b397"]]},{"id":"cdc9ea0e90dc11a8","type":"api-call-service","z":"8b7831c3eb62527d","g":"81155524a7de6128","name":"Set ventilation power","server":"943d5cb3.74746","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.ventilation_power"],"data":"{ \"value\": payload }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1240,"y":300,"wires":[[]]},{"id":"eed591ab9414a378","type":"join","z":"8b7831c3eb62527d","g":"81155524a7de6128","name":"Join","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"$max([$A, payload])","reduceInit":"0","reduceInitType":"num","reduceFixup":"","x":770,"y":300,"wires":[["3c264037e4473f58"]]},{"id":"3c264037e4473f58","type":"function","z":"8b7831c3eb62527d","g":"81155524a7de6128","name":"Determine ventilation power","func":"function multipleOf(multiple, n) {\n    return multiple * Math.ceil(n / multiple);\n}\n\nclass Range {\n    /**\n    * @param {number} min\n    * @param {number} max\n    */\n    constructor(min, max) {\n        this.min = min;\n        this.max = max;\n    }\n    \n    /**\n    * @param {number} value\n    */\n    clamp(value) {\n        return Math.min(Math.max(value, this.min), this.max);    \n    }\n    \n    /**\n    * @param {number} t\n    */\n    lerp(t) {\n        return this.min + t * (this.max - this.min);\n    }\n    \n    /**\n    * @param {number} value\n    */\n    invLerp(value) {\n        return (value - this.min) / (this.max - this.min);\n    }\n}\n\n/**\n* @param {Range} input\n* @param {Range} output\n* @param {number} value\n*/\nfunction remap(input, output, value) {\n    const t = input.invLerp(value);\n    return output.lerp(t);\n}\n\nclass Result {\n    constructor() {\n        this.power = 0.0;\n        this.reason = [];\n    }\n    \n    /**\n    * @param {number} power\n    * @param {string} reason\n    */\n    push(power, reason) {\n        this.power = Math.max(this.power, power);\n        this.reason.push(reason);\n    }\n}\n\nconst PpmRange = new Range(400, 700);\nconst PowerRange = new Range(0.0, 1.0);\nconst LowHumidityPowerRange = new Range(0.0, 0.7);\nconst LowHumidity = 40;\n\n/**\n* @param {{ manualOverride: any; ppm: number; cookerHood: any; ventilationSwitch: any; downstairsHumidity: number; bathroomMotion: any; downstairsBathroomMotion: any; }} payload\n*/\nfunction getPowerFromPayload(payload) {\n    const result = new Result();\n\n    if (payload.manualOverride) {\n        result.push(1.0, \"manual override\");\n    }\n\n    if (payload.ppm > PpmRange.max) {\n        result.push(1.0, `CO\\u2082 > ${PpmRange.max} ppm`);\n    }\n    \n    if (payload.rangeHood) {\n        result.push(1.0, \"range hood fan on\");\n    }\n    \n    if (payload.ventilationSwitch) {\n        result.push(1.0, \"ventilation switch\");\n    }\n    \n    const isLowHumidity = (payload.downstairsHumidity < LowHumidity);\n    const powerRange = isLowHumidity\n        ? LowHumidityPowerRange\n        : PowerRange;\n    \n    if (isLowHumidity) {\n        result.push(\n            0.0, \n            `humidity ${payload.downstairsHumidity} % (< ${LowHumidity} %)`\n        );\n    }\n    \n    if (payload.bathroomMotion) {\n        result.push(powerRange.max, \"bathroom motion\");\n    }\n    \n    if (payload.downstairsBathroomMotion) {\n        result.push(powerRange.max, \"downstairs bathroom motion\");\n    }\n\n    result.push(\n        remap(PpmRange, powerRange, PpmRange.clamp(payload.ppm)),\n        `CO\\u2082 ${payload.ppm} ppm`\n    );\n    \n    return result;\n}\n\nconst source = msg.payload;\nlet { power, reason } = getPowerFromPayload(source);\n\nreturn {\n    payload: new Range(10, 100).clamp(multipleOf(1, 100 * power)),\n    reason: reason.join(\", \"),\n    source\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":300,"wires":[["98db50c5e4549d51","cdc9ea0e90dc11a8","6b1fa375046d18d1"]]},{"id":"86314f96c5319685","type":"trigger","z":"8b7831c3eb62527d","g":"81155524a7de6128","name":"Delay turning off by 10 minutes","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"10","extend":false,"overrideDelay":false,"units":"min","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":230,"y":400,"wires":[["eed591ab9414a378"]]},{"id":"17d8c62e08153837","type":"server-state-changed","z":"8b7831c3eb62527d","g":"81155524a7de6128","name":"CO₂ level","server":"943d5cb3.74746","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.living_room_co2_level","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"ppm","valueType":"str"}],"x":340,"y":140,"wires":[["eed591ab9414a378"]]},{"id":"2704f3640d7e924d","type":"server-state-changed","z":"8b7831c3eb62527d","g":"81155524a7de6128","name":"Range hood fan","server":"943d5cb3.74746","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"fan.range_hood","entityidfiltertype":"exact","outputinitially":true,"state_type":"habool","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"rangeHood","valueType":"str"}],"x":320,"y":260,"wires":[["eed591ab9414a378"]]},{"id":"7431cf5fbff8cbdd","type":"server-state-changed","z":"8b7831c3eb62527d","g":"81155524a7de6128","name":"Bathroom motion","server":"943d5cb3.74746","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.bathroom_motion_","entityidfiltertype":"substring","outputinitially":true,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"bathroomMotion","valueType":"str"}],"x":200,"y":480,"wires":[["566287c1de2475f3","eed591ab9414a378"],["566287c1de2475f3"]]},{"id":"b81e0e1b561ef2e7","type":"server-state-changed","z":"8b7831c3eb62527d","g":"81155524a7de6128","name":"Downstairs bathroom motion","server":"943d5cb3.74746","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.downstairs_bathroom_motion","entityidfiltertype":"exact","outputinitially":true,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"downstairsBathroomMotion","valueType":"str"}],"x":160,"y":540,"wires":[["566287c1de2475f3","eed591ab9414a378"],["566287c1de2475f3"]]},{"id":"566287c1de2475f3","type":"trigger","z":"8b7831c3eb62527d","g":"81155524a7de6128","name":"Delay turning off by 5 minutes","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"5","extend":false,"overrideDelay":false,"units":"min","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":550,"y":520,"wires":[["eed591ab9414a378"]]},{"id":"98db50c5e4549d51","type":"debug","z":"8b7831c3eb62527d","g":"81155524a7de6128","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1190,"y":240,"wires":[]},{"id":"88ce754e28b69d27","type":"server-state-changed","z":"8b7831c3eb62527d","g":"81155524a7de6128","name":"Downstairs humidity","server":"943d5cb3.74746","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.downstairs_humidity","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"downstairsHumidity","valueType":"str"}],"x":310,"y":200,"wires":[["eed591ab9414a378"]]},{"id":"7551919880e1a977","type":"server-state-changed","z":"8b7831c3eb62527d","g":"81155524a7de6128","name":"Manual override","server":"943d5cb3.74746","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.ventilation_force_full_power","entityidfiltertype":"exact","outputinitially":true,"state_type":"habool","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"manualOverride","valueType":"str"}],"x":320,"y":80,"wires":[["eed591ab9414a378"]]},{"id":"6b1fa375046d18d1","type":"ha-sensor","z":"8b7831c3eb62527d","g":"81155524a7de6128","name":"Set ventilation power reason","entityConfig":"12dd9db725b8e52b","version":0,"state":"reason","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1260,"y":360,"wires":[[]]},{"id":"c19fa3e92e1cd8fc","type":"server-state-changed","z":"8b7831c3eb62527d","g":"d7663966eefb8c1d","name":"Stale air temperature","server":"943d5cb3.74746","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.stale_air_temperature","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"stale","valueType":"str"}],"x":140,"y":760,"wires":[["7b0a4dc2a6c88ccc"]]},{"id":"8ee7c96e74492991","type":"server-state-changed","z":"8b7831c3eb62527d","g":"d7663966eefb8c1d","name":"Fresh air temperature","server":"943d5cb3.74746","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.fresh_air_temperature","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"fresh","valueType":"str"}],"x":140,"y":820,"wires":[["7b0a4dc2a6c88ccc"]]},{"id":"7b0a4dc2a6c88ccc","type":"join","z":"8b7831c3eb62527d","g":"d7663966eefb8c1d","name":"Join","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":350,"y":760,"wires":[["4d95ca2bef0c2ac1"]]},{"id":"4d95ca2bef0c2ac1","type":"delay","z":"8b7831c3eb62527d","g":"d7663966eefb8c1d","name":"Limit 1 per 10 minutes (except override)","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":true,"outputs":1,"x":600,"y":760,"wires":[["ceb6d5baf9549729","a20a4a5e77da68d9"]]},{"id":"ceb6d5baf9549729","type":"function","z":"8b7831c3eb62527d","g":"d7663966eefb8c1d","name":"Determine setting","func":"function C(value) {\n    return `${value} \\u00B0C`;\n}\n\nfunction reasonObject(result, reason) {\n    return { result, reason };\n}\n\nfunction determine(fresh, stale, override) {\n    const Cold = 18;\n    const Hot = 23;\n    \n    if (override == 'Force On') {\n        return reasonObject(true, 'Override');\n    }\n    \n    if (override == 'Force Off') {\n        return reasonObject(false, 'Override');\n    }\n    \n    if (fresh < Cold) {\n        return reasonObject(\n            true,\n            `Fresh air temperature lower than ${C(Cold)}.`\n        );\n    }\n    \n    if (fresh >= Hot) {\n        const reason = `Fresh air temperature greater than ${C(Hot)}`\n        if (stale < fresh) {\n            return reasonObject(\n                true,\n                reason + ' and stale air temperature is lower.'\n            );\n        } else {\n            return reasonObject(\n                false,\n                reason + ', but stale air temperature is greater.'\n            );\n        }\n    }\n    \n    return reasonObject(\n        false,\n        `Fresh air temperature greater than ${C(Cold)} and lower than ${C(Hot)}.`\n    );\n}\n\nconst fresh = parseFloat(msg.payload.fresh);\nconst stale = parseFloat(msg.payload.stale);\nconst override = msg.payload.override;\n\nconst payload = determine(fresh, stale, override);\n\nif (payload.result) {\n    return [{ payload }, null];\n} else {\n    return [null, { payload }];\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":740,"wires":[["0ced7290f9713729","25af2d3a123cd657"],["997ee45379e895c4","25af2d3a123cd657"]]},{"id":"0ced7290f9713729","type":"api-call-service","z":"8b7831c3eb62527d","g":"d7663966eefb8c1d","name":"Turn heat exchanger ON","server":"943d5cb3.74746","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":["ventilation_unit"],"deviceId":[],"entityId":["input_boolean.ventilation_heat_exchanger"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1250,"y":680,"wires":[[]]},{"id":"997ee45379e895c4","type":"api-call-service","z":"8b7831c3eb62527d","g":"d7663966eefb8c1d","name":"Turn heat exchanger OFF","server":"943d5cb3.74746","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":["ventilation_unit"],"deviceId":[],"entityId":["input_boolean.ventilation_heat_exchanger"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1250,"y":800,"wires":[[]]},{"id":"a20a4a5e77da68d9","type":"debug","z":"8b7831c3eb62527d","g":"d7663966eefb8c1d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":800,"wires":[]},{"id":"af30dedd21366184","type":"server-state-changed","z":"8b7831c3eb62527d","g":"d7663966eefb8c1d","name":"Manual override","server":"943d5cb3.74746","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.ventilation_heat_exchanger_override","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"override","valueType":"str"},{"property":"rate","propertyType":"msg","value":"0","valueType":"num"}],"x":160,"y":700,"wires":[["7b0a4dc2a6c88ccc"]]},{"id":"25af2d3a123cd657","type":"ha-sensor","z":"8b7831c3eb62527d","g":"d7663966eefb8c1d","name":"Set reason","entityConfig":"16893d3a18b3be19","version":0,"state":"payload.reason","stateType":"msg","attributes":[{"property":"fresh","value":"payload.fresh","valueType":"msg"},{"property":"stale","value":"payload.stale","valueType":"msg"}],"inputOverride":"allow","outputProperties":[],"x":1210,"y":740,"wires":[[]]},{"id":"21c64f01b14294b1","type":"api-call-service","z":"8b7831c3eb62527d","g":"0fc39fcc86af5697","name":"Turn entities off","server":"943d5cb3.74746","version":5,"debugenabled":true,"domain":"climate","service":"turn_off","areaId":[],"deviceId":[],"entityId":[],"data":"{ \"entity_id\": entityId }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1080,"y":1060,"wires":[[]]},{"id":"1def5c616075d576","type":"server-state-changed","z":"8b7831c3eb62527d","g":"0fc39fcc86af5697","name":"Downstairs windows open","server":"943d5cb3.74746","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.downstairs_windows","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"downstairs","valueType":"str"},{"property":"entityId","propertyType":"msg","value":"[\t   \"climate.living_room_heater\",\t   \"climate.living_room_mini_split\",\t   \"climate.dining_room_heater\",\t   \"climate.downstairs_bathroom_heater\"\t]","valueType":"jsonata"}],"x":150,"y":940,"wires":[["817a6c3a0f902586"]]},{"id":"8b4898dd6e82af43","type":"server-state-changed","z":"8b7831c3eb62527d","g":"0fc39fcc86af5697","name":"Gallery window open","server":"943d5cb3.74746","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.gallery_window","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"entityId","propertyType":"msg","value":"[ \"climate.gallery_heater\" ]","valueType":"jsonata"},{"property":"topic","propertyType":"msg","value":"gallery","valueType":"str"}],"x":170,"y":1180,"wires":[["817a6c3a0f902586"]]},{"id":"c0049a121a47fbd1","type":"server-state-changed","z":"8b7831c3eb62527d","g":"0fc39fcc86af5697","name":"Bathroom window open","server":"943d5cb3.74746","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.bathroom_window","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"entityId","propertyType":"msg","value":"[ \"climate.bathroom_heater\" ]","valueType":"jsonata"},{"property":"topic","propertyType":"msg","value":"bathroom","valueType":"str"}],"x":160,"y":1120,"wires":[["817a6c3a0f902586"]]},{"id":"7e7188b3f2c2eea1","type":"server-state-changed","z":"8b7831c3eb62527d","g":"0fc39fcc86af5697","name":"Bedroom windows open","server":"943d5cb3.74746","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.bedroom_windows","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"entityId","propertyType":"msg","value":"[ \"climate.bedroom_heater\", \"climate.bedroom_mini_split\" ]","valueType":"jsonata"},{"property":"topic","propertyType":"msg","value":"bedroom","valueType":"str"}],"x":160,"y":1000,"wires":[["817a6c3a0f902586"]]},{"id":"26eb16a81d8235be","type":"server-state-changed","z":"8b7831c3eb62527d","g":"0fc39fcc86af5697","name":"Guestroom windows open","server":"943d5cb3.74746","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.guestroom_windows","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"entityId","propertyType":"msg","value":"[ \"climate.guestroom_heater\", \"climate.guestroom_mini_split\" ]","valueType":"jsonata"},{"property":"topic","propertyType":"msg","value":"guestroom","valueType":"str"}],"x":150,"y":1060,"wires":[["817a6c3a0f902586"]]},{"id":"066c439fb184de3f","type":"api-call-service","z":"8b7831c3eb62527d","g":"0fc39fcc86af5697","name":"Apply scene","server":"943d5cb3.74746","version":5,"debugenabled":true,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":[],"data":"{ \"entity_id\": \"scene.\" & sceneId }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":890,"y":980,"wires":[[]]},{"id":"a6e8da122e992431","type":"switch","z":"8b7831c3eb62527d","g":"0fc39fcc86af5697","name":"Window closed?","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":680,"y":1020,"wires":[["066c439fb184de3f"],["1b70fe5a0b076370"]],"outputLabels":["Window closed ",""]},{"id":"1b70fe5a0b076370","type":"api-call-service","z":"8b7831c3eb62527d","g":"0fc39fcc86af5697","name":"Create scene","server":"943d5cb3.74746","version":5,"debugenabled":true,"domain":"scene","service":"create","areaId":[],"deviceId":[],"entityId":[],"data":"{\t   \"scene_id\": sceneId,\t   \"snapshot_entities\": entityId\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":890,"y":1060,"wires":[["21c64f01b14294b1"]]},{"id":"6751edff5eae0bf6","type":"change","z":"8b7831c3eb62527d","g":"0fc39fcc86af5697","name":"Set sceneId","rules":[{"t":"set","p":"sceneId","pt":"msg","to":"\"after_\" & topic & \"_windows_close\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":1060,"wires":[["a6e8da122e992431","935dab5629c6466c"]]},{"id":"935dab5629c6466c","type":"debug","z":"8b7831c3eb62527d","g":"0fc39fcc86af5697","name":"msg","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":650,"y":1100,"wires":[]},{"id":"6879db2e73e6d588","type":"inject","z":"8b7831c3eb62527d","g":"1fe6af68f9e9f336","name":"At 05:00","props":[],"repeat":"","crontab":"00 05 * * *","once":false,"onceDelay":0.1,"topic":"","x":220,"y":1320,"wires":[["9f894dab1ff49c74"]]},{"id":"65c947f030222428","type":"inject","z":"8b7831c3eb62527d","g":"1fe6af68f9e9f336","name":"At 09:00 on weekdays","props":[],"repeat":"","crontab":"00 09 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"topic":"","x":170,"y":1400,"wires":[["c0123bfd9ccc08a2"]]},{"id":"9ce49c0b76ac30aa","type":"inject","z":"8b7831c3eb62527d","g":"1fe6af68f9e9f336","name":"At 10:30 on weekends","props":[],"repeat":"","crontab":"30 10 * * 6,0","once":false,"onceDelay":0.1,"topic":"","x":170,"y":1480,"wires":[["c0123bfd9ccc08a2"]]},{"id":"294639170c41d87b","type":"api-call-service","z":"8b7831c3eb62527d","g":"1fe6af68f9e9f336","name":"Set heating temperature","server":"943d5cb3.74746","version":5,"debugenabled":false,"domain":"climate","service":"set_temperature","areaId":[],"deviceId":[],"entityId":["climate.bathroom_heater","climate.bedroom_heater","climate.gallery_heater","climate.guestroom_heater"],"data":"{ \"temperature\": minTemperature, \"hvac_mode\": \"heat\" }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1270,"y":1320,"wires":[[]]},{"id":"76be5f6d33288529","type":"api-call-service","z":"8b7831c3eb62527d","g":"1fe6af68f9e9f336","name":"Set cooling temperature","server":"943d5cb3.74746","version":5,"debugenabled":false,"domain":"climate","service":"set_temperature","areaId":[],"deviceId":[],"entityId":["climate.bedroom_mini_split","climate.guestroom_mini_split"],"data":"{ \"temperature\": maxTemperature, \"hvac_mode\": \"cool\" }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1510,"y":1420,"wires":[[]]},{"id":"24b48d5c639f4e26","type":"api-current-state","z":"8b7831c3eb62527d","g":"1fe6af68f9e9f336","name":"Anyone home","server":"943d5cb3.74746","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"binary_sensor.anyone_home","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"anyoneHome","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1000,"y":1380,"wires":[["c8bca68bb6169227"],[]]},{"id":"9f894dab1ff49c74","type":"api-current-state","z":"8b7831c3eb62527d","g":"1fe6af68f9e9f336","name":"Morning temperature min","server":"943d5cb3.74746","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.upstairs_morning_temperature_min","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"minTemperature","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":450,"y":1320,"wires":[["eecba87e709ad608"]]},{"id":"eecba87e709ad608","type":"api-current-state","z":"8b7831c3eb62527d","g":"1fe6af68f9e9f336","name":"Morning temperature max","server":"943d5cb3.74746","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.upstairs_morning_temperature_max","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"maxTemperature","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":710,"y":1320,"wires":[["7882dd6f8374b249"]]},{"id":"79e7f2adcae324cd","type":"api-current-state","z":"8b7831c3eb62527d","g":"1fe6af68f9e9f336","name":"Day temperature min","server":"943d5cb3.74746","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.upstairs_day_temperature_min","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"minTemperature","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":440,"y":1440,"wires":[["0b9cb56c873a3033"]]},{"id":"0b9cb56c873a3033","type":"api-current-state","z":"8b7831c3eb62527d","g":"1fe6af68f9e9f336","name":"Day temperature max","server":"943d5cb3.74746","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.upstairs_day_temperature_max","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"maxTemperature","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":720,"y":1440,"wires":[["7882dd6f8374b249"]]},{"id":"19e57f8a62c293f0","type":"api-call-service","z":"8b7831c3eb62527d","g":"1fe6af68f9e9f336","name":"Set mode to cooling","server":"943d5cb3.74746","version":5,"debugenabled":false,"domain":"climate","service":"set_hvac_mode","areaId":[],"deviceId":[],"entityId":["climate.bedroom_mini_split","climate.guestroom_mini_split"],"data":"{ \"hvac_mode\" : \"cool\" }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1260,"y":1420,"wires":[["76be5f6d33288529"]]},{"id":"8a3fcdc9563c040b","type":"server-state-changed","z":"035579155973b66e","name":"Prusheen door open","server":"943d5cb3.74746","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.prusheen_coop_door","entityidfiltertype":"exact","outputinitially":true,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":240,"wires":[["d856a4199a25e36e"],["0b144e904c1775f4"]]},{"id":"0b144e904c1775f4","type":"api-call-service","z":"035579155973b66e","name":"Turn on camera IR mode","server":"943d5cb3.74746","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.prusheen_camera_ir_mode"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":470,"y":220,"wires":[[]]},{"id":"d856a4199a25e36e","type":"api-call-service","z":"035579155973b66e","name":"Turn off camera IR mode","server":"943d5cb3.74746","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.prusheen_camera_ir_mode"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":470,"y":160,"wires":[[]]},{"id":"632490a3341afb11","type":"api-call-service","z":"035579155973b66e","name":"Turn off minicam light","server":"943d5cb3.74746","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.prusheen_minicam_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":460,"y":420,"wires":[[]]},{"id":"dc02cf18ff5a1874","type":"api-call-service","z":"035579155973b66e","name":"Turn on minicam light","server":"943d5cb3.74746","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.prusheen_minicam_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":460,"y":300,"wires":[[]]},{"id":"d89958b01cf0e86e","type":"server-state-changed","z":"035579155973b66e","name":"Prusheen is printing","server":"943d5cb3.74746","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.prusheen_printing","entityidfiltertype":"exact","outputinitially":true,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":320,"wires":[["dc02cf18ff5a1874","9053147d6f21b598"],["9053147d6f21b598"]]},{"id":"9053147d6f21b598","type":"trigger","z":"035579155973b66e","name":"Delay turning off by 10 minutes","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"10","extend":false,"overrideDelay":false,"units":"min","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":390,"y":360,"wires":[["632490a3341afb11"]]},{"id":"d4bc249f1fc606d7","type":"server-state-changed","z":"7777154dcb54cb50","name":"Downstairs bathroom motion","server":"943d5cb3.74746","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.downstairs_bathroom_motion","entityidfiltertype":"exact","outputinitially":true,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"topic","propertyType":"msg","value":"light.downstairs_bathroom","valueType":"str"},{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":180,"y":420,"wires":[["495598f58480e019","a4ef15fc581478f4"],["a4ef15fc581478f4"]],"outputLabels":["Motion","No motion"]},{"id":"495598f58480e019","type":"api-current-state","z":"7777154dcb54cb50","name":"Are motion sensor lights enabled?","server":"943d5cb3.74746","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.motion_sensor_lights_enabled","state_type":"habool","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":600,"y":320,"wires":[["18f3ac02661cdf72"],[]]},{"id":"a4ef15fc581478f4","type":"trigger","z":"7777154dcb54cb50","name":"Delay turning off by 5 minutes","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"5","extend":false,"overrideDelay":false,"units":"min","reset":"true","bytopic":"topic","topic":"topic","outputs":1,"x":590,"y":380,"wires":[["fb5c995dec3fcf6b"]]},{"id":"18f3ac02661cdf72","type":"api-call-service","z":"7777154dcb54cb50","name":"Turn the light on","server":"943d5cb3.74746","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["{{ topic }}"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":880,"y":300,"wires":[[]]},{"id":"fb5c995dec3fcf6b","type":"api-call-service","z":"7777154dcb54cb50","name":"Turn the light off","server":"943d5cb3.74746","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["{{ topic }}"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":880,"y":400,"wires":[[]]},{"id":"2df1d89c1cdfb05a","type":"server-state-changed","z":"7777154dcb54cb50","name":"Bathroom motion","server":"943d5cb3.74746","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"^binary_sensor.bathroom_motion_(near|far)","entityidfiltertype":"regex","outputinitially":true,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"topic","propertyType":"msg","value":"light.bathroom_all","valueType":"str"},{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":140,"y":260,"wires":[["495598f58480e019","a4ef15fc581478f4"],["a4ef15fc581478f4"]],"outputLabels":["Motion","No motion"]},{"id":"87a71c486dfc8a97","type":"inject","z":"7777154dcb54cb50","name":"At 7:00","props":[],"repeat":"","crontab":"00 07 * * *","once":false,"onceDelay":0.1,"topic":"","x":180,"y":40,"wires":[["198321b7dd4c893a"]]},{"id":"198321b7dd4c893a","type":"api-call-service","z":"7777154dcb54cb50","name":"Enable motion sensor lights","server":"943d5cb3.74746","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.motion_sensor_lights_enabled"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":440,"y":40,"wires":[[]]},{"id":"589cca11a1ec92ef","type":"server-state-changed","z":"7777154dcb54cb50","name":"Julie's chair occupied","server":"943d5cb3.74746","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.julies_chair","entityidfiltertype":"exact","outputinitially":true,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":200,"y":680,"wires":[["044c90e7198d0822","a004db44a8a255e3"],["a004db44a8a255e3"]]},{"id":"044c90e7198d0822","type":"api-call-service","z":"7777154dcb54cb50","name":"Turn backlight on","server":"943d5cb3.74746","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.julies_desk_backlight"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":490,"y":600,"wires":[[]]},{"id":"dfe5e60555c21292","type":"api-call-service","z":"7777154dcb54cb50","name":"Turn backlight off","server":"943d5cb3.74746","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.julies_desk_backlight"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":770,"y":740,"wires":[[]]},{"id":"a004db44a8a255e3","type":"trigger","z":"7777154dcb54cb50","name":"Delay turning off by 30s","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"30","extend":false,"overrideDelay":false,"units":"s","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":490,"y":740,"wires":[["dfe5e60555c21292"]]},{"id":"831b2219c6ee57f4","type":"debug","z":"0f8b68891c5c4c5d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1070,"y":200,"wires":[]},{"id":"8244751597fb144f","type":"join","z":"0f8b68891c5c4c5d","name":"Combine into a single object","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":620,"y":240,"wires":[["a746a7523ee88e86"]]},{"id":"19479d13b241923f","type":"server-state-changed","z":"0f8b68891c5c4c5d","name":"Sun","server":"943d5cb3.74746","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sun.sun","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"sun","valueType":"str"}],"x":250,"y":200,"wires":[["8244751597fb144f"]]},{"id":"8a8713c4f16dd6f1","type":"server-state-changed","z":"0f8b68891c5c4c5d","name":"Time","server":"943d5cb3.74746","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.time","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"time","valueType":"str"}],"x":310,"y":380,"wires":[["8244751597fb144f"]]},{"id":"035fdb14ba65e1fb","type":"join","z":"0f8b68891c5c4c5d","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":310,"y":60,"wires":[["eb111e94e054d685"]]},{"id":"01950a59774baee8","type":"server-state-changed","z":"0f8b68891c5c4c5d","name":"Guestroom setting","server":"943d5cb3.74746","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.guestroom_open_shades","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"cover.guestroom_shade","valueType":"str"}],"x":130,"y":100,"wires":[["035fdb14ba65e1fb"]]},{"id":"32a1f1f0975607d3","type":"server-state-changed","z":"0f8b68891c5c4c5d","name":"Gallery setting","server":"943d5cb3.74746","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.gallery_open_shades","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"cover.gallery_shade","valueType":"str"}],"x":110,"y":40,"wires":[["035fdb14ba65e1fb"]]},{"id":"eb111e94e054d685","type":"function","z":"0f8b68891c5c4c5d","name":"Set topic to 'settings'","func":"msg.topic = 'settings'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":140,"wires":[["8244751597fb144f"]]},{"id":"a746a7523ee88e86","type":"function","z":"0f8b68891c5c4c5d","name":"Prepare scene","func":"function parseHHMM(str) {\n    const regex  = /^(\\d{1,2}):(\\d{1,2})$/\n    const matches = regex.exec(str);\n    if (!matches) {\n        return undefined;\n    }\n    return parseInt(matches[1], 10) * 60 + parseInt(matches[2], 10);\n}\n\nfunction keepOnlyChanges(newEntries, lastObject) {\n    return newEntries.filter(\n        ([key, newValue]) => newValue !== lastObject[key]\n    );\n}\n\nconst belowHorizon = msg.payload.sun == 'below_horizon';\nconst currentTime = parseHHMM(msg.payload.time);\nconst settings = Object.entries(msg.payload.settings);\n\nconst newEntries = [];\nfor (const [cover, setting] of settings) {\n    if (belowHorizon) {\n        newEntries.push([cover, 'closed']);\n    } else if (setting == 'Sunrise') {\n        newEntries.push([cover, 'open']);\n    } else if (setting !== 'Never') {\n        const settingTime = parseHHMM(setting);\n        newEntries.push([\n            cover, \n            currentTime >= settingTime ? 'open' : 'closed'\n        ]);\n    }\n}\n\nconst lastState = flow.get('lastState') || {};\nflow.set('lastState', Object.fromEntries(newEntries));\n\nconst changedEntries = keepOnlyChanges(newEntries, lastState);\nreturn changedEntries.length === 0 \n    ? [] \n    : [{ payload: Object.fromEntries(changedEntries) }];\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":240,"wires":[["831b2219c6ee57f4","3dc7bb81d07db64b"]]},{"id":"0854b6761dfde0e3","type":"inject","z":"0f8b68891c5c4c5d","name":"Sunrise","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"sun","payload":"above_horizon","payloadType":"str","x":250,"y":260,"wires":[["8244751597fb144f"]]},{"id":"d07a4b3cbf0bab48","type":"inject","z":"0f8b68891c5c4c5d","name":"Sunset","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"sun","payload":"below_horizon","payloadType":"str","x":250,"y":300,"wires":[["8244751597fb144f"]]},{"id":"05a66c24f6c1c9a3","type":"inject","z":"0f8b68891c5c4c5d","name":"8:00","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"time","payload":"8:00","payloadType":"str","x":310,"y":440,"wires":[["8244751597fb144f"]]},{"id":"1a7e986c8bf69d7d","type":"inject","z":"0f8b68891c5c4c5d","name":"10:45","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"time","payload":"10:45","payloadType":"str","x":310,"y":480,"wires":[["8244751597fb144f"]]},{"id":"3dc7bb81d07db64b","type":"api-call-service","z":"0f8b68891c5c4c5d","name":"Apply scene","server":"943d5cb3.74746","version":5,"debugenabled":false,"domain":"scene","service":"apply","areaId":[],"deviceId":[],"entityId":[],"data":"{\"entities\":msg.payload}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1090,"y":280,"wires":[[]]},{"id":"4c2d56e4f3f07a02","type":"inject","z":"55dc78b387503a74","name":"Manual","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"install","payload":"","payloadType":"date","x":170,"y":80,"wires":[["80caea28e9c5347d"]]},{"id":"80caea28e9c5347d","type":"ha-get-entities","z":"55dc78b387503a74","name":"Get ESPHome devices to update","server":"943d5cb3.74746","version":0,"rules":[{"property":"entity_id","logic":"starts_with","value":"update.","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"},{"property":"attributes.title","logic":"is","value":"ESPHome","valueType":"str"}],"output_type":"array","output_empty_results":true,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":420,"y":140,"wires":[["ebb19a33b14e0dd4","63a63625a3852ca7"]]},{"id":"53c4642af3813531","type":"function","z":"55dc78b387503a74","name":"Get entity ids","func":"msg.entityIds = msg.payload.map(x => x.entity_id);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":100,"wires":[["38b59667e917edb4"]]},{"id":"38b59667e917edb4","type":"api-call-service","z":"55dc78b387503a74","name":"Update devices","server":"943d5cb3.74746","version":5,"debugenabled":false,"domain":"update","service":"install","areaId":[],"deviceId":[],"entityId":[],"data":"{ \"entity_id\": msg.payload }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1060,"y":100,"wires":[[]]},{"id":"79adf90b9a82faf2","type":"ha-button","z":"55dc78b387503a74","name":"Button","version":0,"debugenabled":false,"outputs":1,"entityConfig":"2ea56d92486994f5","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"install","valueType":"str"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":170,"y":140,"wires":[["80caea28e9c5347d"]]},{"id":"0fd13d4a9f6bd9c9","type":"server-state-changed","z":"55dc78b387503a74","name":"Update entity changed","server":"943d5cb3.74746","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"^update.","entityidfiltertype":"regex","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"refresh-sensor","valueType":"str"}],"x":120,"y":200,"wires":[["80caea28e9c5347d"]]},{"id":"ebb19a33b14e0dd4","type":"switch","z":"55dc78b387503a74","name":"Topic==install?","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"install","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":680,"y":100,"wires":[["53c4642af3813531"]]},{"id":"63a63625a3852ca7","type":"ha-binary-sensor","z":"55dc78b387503a74","name":"ESPHome device updates available sensor","entityConfig":"affc541ab5c08242","version":0,"state":"$count(payload) != 0","stateType":"jsonata","attributes":[],"inputOverride":"allow","outputProperties":[],"x":770,"y":180,"wires":[["9adcd76038d07e04"]]},{"id":"9adcd76038d07e04","type":"debug","z":"55dc78b387503a74","name":"debug 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":720,"y":300,"wires":[]}]